<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="${env:LOG_LEVEL}" name="rule-com.navi.engine" shutdownHook="disable">
  <Properties>
    <Property name="PATTERN">
      {"level": "%p","timestamp":"%d","thread":"%t","app_log":%m}%n
    </Property>
  </Properties>
  <Appenders>
    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout pattern="${PATTERN}"/>
    </Console>
  </Appenders>
  <Loggers>
    <Root level="${env:LOG_LEVEL}">
      <AppenderRef ref="STDOUT"/>
    </Root>
    <Logger name="rule-com.navi.engine" level="${env:LOG_LEVEL}" additivity="true">
      <AppenderRef ref="STDOUT"/>
    </Logger>
  </Loggers>
</Configuration>